## This script contains the following points:

### 2. Find the aggregated mean of the 'order_number' column grouped by 'department_id'
### 3. How do the results for the entire dataframe differ from those of the subset?
### 4. Create a loyalty flag for existing customers using the transform() and loc() functions.
### 5. Determine whether the prices of products purchased by loyal customers differ from regular or new customers.
### 6. Create a spending flag for each user based on the average price across all their orders 
### 7. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column
### Exporting the Dataframe

### Importing Data & Libraries

In [1]:
# importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
# assigning path
path=r'C:\Users\Gal-E\CF Data Analysis\Achievement 4\03-2024 Instacart Basket Analysis'

# import "ords_prods_merge_derived.pkl" dataframe from "Prepared Data" folder
ords_prods_merge=pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge_derived.pkl'))

In [3]:
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,price_label,busiest_day,busiest_days,busiest_period_of_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,Mid-range product,Regularly busy,Regularly busy,Most Orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,Mid-range product,Regularly busy,Regularly busy,Most Orders
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,Mid-range product,Busiest day,Busiest days,Average Orders
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,Mid-range product,Regularly busy,Least busy,Most Orders
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,Mid-range product,Least busy,Least busy,Most Orders

### 2. Find the aggregated mean of the 'order_number' column grouped by 'department_id'

In [5]:
# Split the data into groups based on “department_id.”
# Apply the aggregate function to each group to obtain the mean values for the “order_number” column.

ords_prods_merge.groupby('department_id').agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

### 3. How do the results for the entire dataframe differ from those of the subset?

the result almost same as we did in the exercise. the values are slightly different except department 21
*compared to the examples. when i did the subset i got all the 21 departments listed

### 4. Create a loyalty flag for existing customers using the transform() and loc() functions.

In [6]:
# Split the data into groups based on the 'user_id'
# Apply the transform() function on the “order_number” column to generate the maximum orders for each user.
# Create a new column, “max_order,” into which you’ll place the results of your aggregation.

ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\Gal-E\AppData\Local\Temp\ipykernel_6036\126689910.py:5: FutureWarning: The provided callable <function max at 0x0000023799EF5440> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [7]:
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,price_label,busiest_day,busiest_days,busiest_period_of_day,max_order
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,Mid-range product,Regularly busy,Regularly busy,Most Orders,32
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,Mid-range product,Regularly busy,Regularly busy,Most Orders,32
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,Mid-range product,Busiest day,Busiest days,Average Orders,5
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,Mid-range product,Regularly busy,Least busy,Most Orders,3
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,Mid-range product,Least busy,Least busy,Most Orders,3

In [8]:
# creating a flag that assings a "loyalty" label to a user ID based on corresponding max order value

ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [9]:
# checking the frequency of 'loyalty_flag'

ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [11]:
# Check Loyalty flag in dataframe
ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(10)

   user_id      loyalty_flag  order_number
0      138  Regular customer            28
1      138  Regular customer            30
2      709      New customer             2
3      764      New customer             1
4      764      New customer             3
5      777  Regular customer            16
6      825      New customer             3
7      910  Regular customer            12
8     1052  Regular customer            10
9     1052  Regular customer            15

### 5. Determine whether the prices of products purchased by loyal customers differ from regular or new customers.

In [14]:
# checking mean, min, max of each loyalty flag

ords_prods_merge.groupby('loyalty_flag').agg({'prices':['mean','min','max']})

                    prices
                      mean  min   max
loyalty_flag
Loyal customer    7.773487  1.0  25.0
New customer      7.801077  1.0  25.0
Regular customer  7.798145  1.0  25.0

there is a not much of difference between the loyalty flag groups. But the Result shows that New customer spent the most

### 6. Create a spending flag for each user based on the average price across all their orders

In [15]:
# Split the data into groups based on the 'user_id'
# Apply the transform() function on the 'prices' column 
# Create a new column 'average_spend' and place the result in it

ords_prods_merge['average_spend'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

C:\Users\Gal-E\AppData\Local\Temp\ipykernel_6036\1747365437.py:5: FutureWarning: The provided callable <function mean at 0x0000023799EF5E40> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merge['average_spend'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [16]:
ords_prods_merge.head(20)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,price_label,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_spend
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,Mid-range product,Regularly busy,Regularly busy,Most Orders,32,Regular customer,6.935811
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,Mid-range product,Regularly busy,Regularly busy,Most Orders,32,Regular customer,6.935811
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,Mid-range product,Busiest day,Busiest days,Average Orders,5,New customer,7.930208
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,Mid-range product,Regularly busy,Least busy,Most Orders,3,New customer,4.972414
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,Mid-range product,Least busy,Least busy,Most Orders,3,New customer,4.972414
5,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,16,1,7,26.0,7,0,Mid-range product,Regularly busy,Busiest days,Average Orders,26,Regular customer,6.935398
6,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,3,2,14,30.0,2,0,Mid-range product,Regularly busy,Regularly busy,Most Orders,9,New customer,5.957576
7,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,12,3,10,30.0,1,0,Mid-range product,Regularly busy,Least busy,Most Orders,12,Regular customer,6.680000
8,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,10,1,20,19.0,1,0,Mid-range product,Regularly busy,Busiest days,Average Orders,20,Regular customer,7.162500
9,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,15,1,12,15.0,2,1,Mid-range product,Regularly busy,Busiest days,Most Orders,20,Regular customer,7.162500
10,1,Chocolate Sandwich Cookies,61,19,5.8,1798115,1379,1,5,11,NaN,1,0,Mid-range product,Regularly busy,Regularly busy,Most Orders,10,New customer,5.813636
11,1,Chocolate Sandwich Cookies,61,19,5.8,497193,1480,36,3,13,7.0,1,0,Mid-range product,Regularly busy,Least busy,Most Orders,43,Loyal customer,5.081633
12,1,Chocolate Sandwich Cookies,61,19,5.8,1727826,1480,38,4,13,7.0,3,1,Mid-range product,Least busy,Least busy,Most Orders,43,Loyal customer,5.081633
13,1,Chocolate Sandwich Cookies,61,19,5.8,2694698,1480,39,2,12,12.0,4,1,Mid-range product,Regularly busy,Regularly busy,Most Orders,43,Loyal customer,5.081633
14,1,Chocolate Sandwich Cookies,61,19,5.8,3171753,1494,6,3,10,2.0,8,0,Mid-range product,Regularly busy,Least busy,Most Orders,13,Regular customer,6.803797
15,1,Chocolate Sandwich Cookies,61,19,5.8,186761,1494,7,2,8,6.0,18,1,Mid-range product,Regularly busy,Regularly busy,Most Orders,13,Regular customer,6.803797
16,1,Chocolate Sandwich Cookies,61,19,5.8,317121,1494,9,5,8,10.0,12,1,Mid-range product,Regularly busy,Regularly busy,Most Orders,13,Regular customer,6.803797
17,1,Chocolate Sandwich Cookies,61,19,5.8,200390,1540,4,2,0,7.0,10,0,Mid-range product,Regularly busy,Regularly busy,Fewest Orders,28,Regular customer,6.607122
18,1,Chocolate Sandwich Cookies,61,19,5.8,374436,1540,5,1,21,6.0,9,1,Mid-range product,Regularly busy,Busiest days,Average Orders,28,Regular customer,6.607122
19,1,Chocolate Sandwich Cookies,61,19,5.8,2920553,1540,6,1,0,14.0,9,1,Mid-range product,Regularly busy,Busiest days,Fewest Orders,28,Regular customer,6.607122

In [23]:
# Creating flag for low- and high-spender
ords_prods_merge.loc[ords_prods_merge['average_spend']<10,'spender_flag']='Low_spender'
ords_prods_merge.loc[ords_prods_merge['average_spend']>= 10, 'spender_flag'] = 'High_spender'

In [19]:
# checking the frequency of 'spender_flag'

ords_prods_merge['spender_flag'].value_counts(dropna = False)

spender_flag
Low_spender     32285150
High_spender      119709
Name: count, dtype: int64

### 7. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column

In [21]:
# Group by 'user_id', calculate median of 'days_since_prior_order' and assign the aggregation result 
# to variable'customer_frequency'

ords_prods_merge['customer_frequency']=ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

C:\Users\Gal-E\AppData\Local\Temp\ipykernel_6036\3281742886.py:4: FutureWarning: The provided callable <function median at 0x000002379A035D00> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  ords_prods_merge['customer_frequency']=ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [22]:
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,reordered,price_label,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_spend,spender_flag,customer_frequency
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,0,Mid-range product,Regularly busy,Regularly busy,Most Orders,32,Regular customer,6.935811,Low_spender,8.0
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,1,Mid-range product,Regularly busy,Regularly busy,Most Orders,32,Regular customer,6.935811,Low_spender,8.0
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,0,Mid-range product,Busiest day,Busiest days,Average Orders,5,New customer,7.930208,Low_spender,8.0
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,0,Mid-range product,Regularly busy,Least busy,Most Orders,3,New customer,4.972414,Low_spender,9.0
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,1,Mid-range product,Least busy,Least busy,Most Orders,3,New customer,4.972414,Low_spender,9.0

In [27]:
# creating flag for order frequency

ords_prods_merge.loc[ords_prods_merge['customer_frequency']>20,'order_frequency_flag']='Non-frequent customer'
ords_prods_merge.loc[(ords_prods_merge['customer_frequency']>10) & (ords_prods_merge['customer_frequency']<=20),'order_frequency_flag']='Regular customer'
ords_prods_merge.loc[ords_prods_merge['customer_frequency']<=10,'order_frequency_flag']='Frequent customer'

In [30]:
# checking the frequency of 'order_frequency_flag'
ords_prods_merge['order_frequency_flag'].value_counts(dropna = False)

order_frequency_flag
Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
nan                             5
Name: count, dtype: int64

In [32]:
# Checking for columns
ords_prods_merge[['user_id', 'customer_frequency', 'order_frequency_flag']].head(20)

    user_id  customer_frequency order_frequency_flag
0       138                 8.0    Frequent customer
1       138                 8.0    Frequent customer
2       709                 8.0    Frequent customer
3       764                 9.0    Frequent customer
4       764                 9.0    Frequent customer
5       777                11.0     Regular customer
6       825                20.0     Regular customer
7       910                 6.0    Frequent customer
8      1052                10.0    Frequent customer
9      1052                10.0    Frequent customer
10     1379                20.0     Regular customer
11     1480                 7.0    Frequent customer
12     1480                 7.0    Frequent customer
13     1480                 7.0    Frequent customer
14     1494                 7.0    Frequent customer
15     1494                 7.0    Frequent customer
16     1494                 7.0    Frequent customer
17     1540                 7.0    Frequent customer
18     1540                 7.0    Frequent customer
19     1540                 7.0    Frequent customer

### Exporting the Dataframe

In [33]:
# exporting 'ords_prods_merge' datafrmae in a "Prepared Data" folder as pickle file

ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge_derived_aggregated.pkl'))